Source: linm
Section: utils
Priority: optional
Maintainer: onionmixer <onionmixer@users.noreply.github.com>
Build-Depends: debhelper (>= 10), cmake (>= 3.10), libncursesw5-dev, libssl-dev, libssh2-1-dev, libsmbclient-dev
Standards-Version: 4.5.1
Homepage: https://github.com/onionmixer/linm-neo

Package: linm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Visual file manager for the terminal
 LinM is a clone of Mdir, the famous file manager from the MS-DOS age.
 LinM inherits the keyboard shortcuts and the screen layout from Mdir
 to maximize user-friendliness.
 .
 Features include FTP, SFTP, and Samba remote connections, and viewing
 tar, zip, alz, rpm, deb, rar, and iso archives directly.
