[Desktop Entry]
Comment=Qt GUI file manager. archive file, ftp, sftp samba support.
Comment[ko]=Mdir 리눅스 클론 (Qt GUI). sftp, ftp samba 지원.
Encoding=UTF-8
Exec=linm-qt
GenericName=Qt GUI file manager
GenericName[ko]=MDir 리눅스 클론 (Qt)
Icon=linm.xpm
Name=LinM-Qt
Name[ko]=LinM-Qt
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Utility;FileManager;
