#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --buildsystem=cmake

override_dh_autoreconf:
	@echo "Skipping autoreconf (CMake build system)"

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- \
		-DLINM_CFGPATH=/etc/linm \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_install:
	dh_auto_install --buildsystem=cmake
	install -d $(CURDIR)/debian/linm/usr/share/pixmaps
	install -d $(CURDIR)/debian/linm/usr/share/applications
	install -m 644 $(CURDIR)/debian/linm.xpm $(CURDIR)/debian/linm/usr/share/pixmaps/
	install -m 644 $(CURDIR)/debian/LinM.desktop $(CURDIR)/debian/linm/usr/share/applications/
	install -m 644 $(CURDIR)/debian/LinM-Qt.desktop $(CURDIR)/debian/linm/usr/share/applications/
